<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.cdt.managedbuilder.core.buildDefinitions">
      <dynamicElementProvider
            class="org.buildroot.cdt.toolchain.BuildrootToolchainsProvider"
            name="BuildrootToolchainsProvider">
      </dynamicElementProvider>
      <managedBuildRevision
            fileVersion="1.0.0">
      </managedBuildRevision>
   </extension>

</plugin>
